/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 ago. 2020, 23:49:10
    Author     : harold
*/

#principal{
    width: 1024px;
    margin: 0 auto;    
}

#cuadro{
    margin: 100px auto;
    width: 40% !important;
    text-align: center;
}
